@import '_colors.scss';

footer {
	text-align: center;
	margin-top: 2rem;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 60px;

	h1 {
		font-family: 'Times New Roman', Times, serif;
		display: inline-block;
		position: relative;
		font-size: 3rem;

		&::before {
			content: '';
			position: absolute;
			bottom: 5px;
			left: 10px;
			right: 0;
			top: 60%;
			background-color: $secondary-light;
			z-index: -1;
		}
	}

	a {
		font-weight: 600;
	}
}