@import '_colors.scss';

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: $background;
	color: $black;
}


code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

a {
	text-decoration: none;
	color: initial;

	&.underline {
		display: inline-block;
		position: relative;

		&::after {
			content: '';
			z-index: -1;
			position: absolute;
			top: 60%;
			left: 5px;
			bottom: 0;
			right: 0;
			background-color: $light;
			transform: scaleX(0);
			transform-origin: 100%;
			transition: transform .2s ease;
		}

		&:hover::after {
			transform: scaleX(1);
			transform-origin: 0;
		}
	}
}

a {
	text-decoration: none;
	color: initial;
}
