@import '_colors.scss';

#introduction {
	min-height: 20vh;
	margin-bottom: 2rem;
	display: flex;
	align-items: flex-end;
	align-content: flex-end;

	.content {
		padding-left: 30px;
		padding-right: 30px;
	}

	h1 {
		font-size: 2rem;
		margin-bottom: 0;
		font-family: 'Times New Roman', Times, serif;
		position: relative;
		display: inline-block;

		&::after {
			content: '.';
		}

		&::before {
			content: '';
			position: absolute;
			bottom: 5px;
			left: 10px;
			right: 0;
			height: 20px;
			background-color: $light;
			z-index: -1;
		}
	}

	.subtitle {
		margin-top: .5rem;
		font-weight: 500;
	}
}

@media (min-width: 992px) {
	.content {
		padding-left: 60px;
		padding-right: 60px;
	}
	
	h1 {
		font-size: 3rem !important;
	}
}