@import './_colors';

.container {
	background-color: $background;
	color: $black;

	aside {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	main {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 50px 0;

		.content {
			width: 60%;
			text-align: center;

			ul {
				text-align: left;
				padding-left: 1rem;

				a {
					display: inline-block;
					position: relative;
					font-weight: 600;
					z-index: 1;

					&::after {
						content: '';
						position: absolute;
						display: block;
						top: 60%;
						bottom: 0;
						left: 5px;
						right: 0;
						background-color: $background;
						z-index: -1;
						transform: scaleX(0);
						transform-origin: 100%;
						transition: transform .2s ease;
					}

					&:hover::after {
						transform: scaleX(1);
						transform-origin: 0;
					}
				}
			}
		}

		h1, h2 {
			text-align: center;
		}

		h1 {
			position: relative;
			display: inline-block;
			z-index: 1;
			margin-bottom: 0;

			&::after {
				content: '';
				position: absolute;
				top: 60%;
				bottom: 0;
				left: 10px;
				right: 0;
				background-color: $background;
				z-index: -1;
			}
		}

		a.list-item-link {
			display: inline-block;
			margin-top: 1rem;
			box-sizing: border-box;
			text-transform: uppercase;
			font-weight: 800;
			border: solid 2px $black;
			padding: .5rem 1rem;
			border-radius: .5rem;
			color: $black;
			transition: all .2s ease;

			&:hover {
				background-color: $black;
				color: $background;
			}
		}
	}

	&#t-shirt main {
		background-color: $light;
	}

	&#sweater main {
		background-color: $secondary-light;
	}

	&#tote-bag main {
		background-color: $black;
		color: $light;

		h1::after {
			background-color: rgba($background, .2);
		}

		a.list-item-link {
			color: $background;
			border-color: $background;

			&:hover {
				background-color: $background;
				color: $black;
			}
		}
	}

	&#embroidery main {
		background-color: $other;
	}
}

@media (min-width: 992px) {
	.container {
		display: flex;
		flex-direction: row;
		height: calc(100vh - 50px);

		& > * {
			width: 50%;
		}

		aside {
			overflow-y: scroll;
		}
	}
}