@import '_colors.scss';

main{
	padding: 0;
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;

	& > a {
		display: block;
		width: 100%;
		height: 100vw;
	}

	article.list-item {
		width: 100%;
		height: 100%;
		padding: 2rem;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		transition: all .2s ease;

		&:hover {
			transform: scale(0.97);
		}

		h2, p {
			margin: 0 auto;
			text-align: center;
		}

		h2 {
			margin-bottom: .5rem;
			display: inline-block;
			position: relative;
			z-index: 2;

			&::after {
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				left: 10px;
				right: 0;
				top: 50%;
				background-color: $background;
				z-index: -1;
			}
		}

		&.secondary {
			background-color: $secondary-light;
			color: $black;
		}

		&.primary {
			background-color: $light;
			color: $black;
		}

		&.dark {
			background-color: $black;
			color: $light;

			h2::after {
				background-color: rgba($background, .2);
			}

			a.list-item-link {
				border-color: $background;
				color: $background;

				&:hover {
					background-color: $background;
					color: $black;
				}
			}
		}

		&.other {
			background-color: $other;
			color: $black;
		}

		a.list-item-link {
			margin-top: 1rem;
			text-transform: uppercase;
			font-weight: 800;
			border: solid 2px $black;
			padding: .5rem 1rem;
			border-radius: .5rem;
			color: $black;
			transition: all .2s ease;

			&:hover {
				background-color: $black;
				color: $background;
			}
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	main > a {
		width: 50% !important;
		height: 50vw !important;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
	main > a {
		width: 25% !important;
		height: 25vw !important;
	}
}