@import '_colors';

nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	padding: 1rem 20px;

	a.nav-item {
		margin: 0 .5rem;
		font-weight: 600;
		cursor: pointer;
		text-align: center;

		&[aria-current]::after {
			background-color: $secondary-light;
			transform: scaleX(1);
		}
	}
}

@media (min-width: 768px) {
	nav {
		padding-left: 60px;
		padding-right: 60px;
	}
}